@import '../layouts/index.css' main;

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: var(--background);
}

.listItem {
  margin-bottom: 1em;
  background-color: var(--background-dark-600);
  text-align: start;
  color: var(--background-light-700);
  border: 1px outset transparent;
}

.listItem:hover {
  cursor: grab;
  border: 1px outset var(--primary);
}

.ghost {
  background: linear-gradient(to right, rgba(30, 37, 53, 0.5), rgba(22, 28, 40, 1) 80%);
  border: 1px outset var(--primary);
}

.listItem:active {
  cursor: grabbing;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 0;
  height: 100%;
  padding: 1em;
}

.itemDescription {
  position: relative;
  height: 4.4em; /* exactly three lines */
  overflow: hidden;
}

.itemDescription:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(22, 28, 40, 0), rgba(22, 28, 40, 1) 50%);
}

.dragged {
  cursor: move !important; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grabbing !important; /* Firefox 1.5-26 */
  cursor: grabbing !important; /* W3C standards syntax, should come least */
}
